<div class="about-section">
    <h1 style="text-align:center">About Us</h1>
    <p>Blablabla</p>
    <p>Bloubloublou</p>
    <img src="/static/img1_about_page.png" alt="hello_kitty_vous_salut" style="width:30%">
  </div>
  
  <h2 style="text-align:center">Our history</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>How it started</h2>
          <p class="title">Sylvan & his coding skills</p>
          <p>He was alone. He was getting bored. And then, he discovered Poetry & Flask. Like was much easier. Sylvan was happy.</p>
          <p>Later, Sylvan decided to hand on his wonderful skills to the common people.</p>
          <p><button class="button">Sylvan</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>How it's going</h2>
          <p class="title">Fanny & Rubal joined the party</p>
          <p>Fanny & Rubal, with an obvious lack of installation skills, were lost in the jungle of coding. Fortunately, they met The Great Sylvan.</p>
          <p>Sylvan helped them to be better people. The company was created, and new projects were flowing.</p>
          <p><button class="button">Fanny</button></p>
          <p><button class="button">Rubal</button></p>
        </div>
      </div>
    </div>
  </div> 